ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Side*/
.SideBar{
  width:22rem;
  height:100vh;
  padding:3rem 3rem 6rem 3rem;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  background-color:var(--color-black);
  color:var(--color-white);
  z-index:1000;
}


.SideBar__Logo{
  width:16rem;
}

.SideBar__Menu{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-top:7.2rem;
  line-height:4rem;
}

.SideBar__MenuItem{
  color:var(--color-grey);
  font-size:2rem;
  font-weight: 400;
  cursor:pointer;
}

.SideBar__MenuItem--selected{
  font-size:2rem;
  font-weight: 500;
  color: var(--color-primary);
  cursor:pointer;
}

.SideBar__MenuSubItem {
  font-size:1.4rem;
  visibility: hidden;
  height: 0;
  padding-left: 0;
  opacity: 0;
}

.SideBar__MenuSubItem--open {
  visibility: visible;
  margin: 0.8rem 0;
  line-height: 2.4rem;
  min-height: 5rem;
  font-size:1.4rem;
  opacity: 1;
  cursor:pointer;
  visibility: inherit;
  padding-left: 2rem;
  transition-property: opacity, visibility, padding-left;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.SideBar__SubItem{
  font-size : 1.4rem;
}

.SideBar__SubItem--selected,
.SideBar__SubItem:hover{
  font-size : 1.4rem;
  color: var(--color-primary);
}

/*User*/ 

@media (max-width: 1280px){
.SideBar__User {
  bottom:1.6rem !important;
}
}

.SideBar__User {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 22rem;
  height: 6rem;
  background-color: #333;
  padding: 1.4rem 1.2rem 1.2rem 1.2rem;
}

.SideBar__UserInfomation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  cursor: pointer;
}

.SideBar__UserInfomationImg {
  width: 3.2rem;
  height: 3.2rem;
  vertical-align: bottom;
}

.SideBar__UserInfomationKong {
  width: 2.2rem;
  height: 2.2rem;
  vertical-align: bottom;
}

.SideBar__UserInfomationName {
  color: whitesmoke;
  font-weight: 400;
  font-size: 1.4rem;
  transition : 0.15s ease-in;
}

.SideBar__UserInfomationName--selected {
  color: whitesmoke;
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--color-primary);
  transition : 0.15s ease-in;
}


.SideBar__UserInfomationPoint {
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--color-primary);
}

.SideBar__UserButton {
  height: 2rem;
  width: 2rem;
  background-color: #333;
  opacity: 0.3;
  color: var(--color-primary);
  transform: rotate(180deg);
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.SideBar__UserButton--open{
  height: 2rem;
  width: 2rem;
  background-color: #333;
  opacity: 1;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.SideBar__UserPopUp {
  position: absolute;
  left: 0;
  color: #333;
  padding: 2.1rem 3rem;
  background-color: #222;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  opacity: 0;
  visibility: hidden;

}

.SideBar__UserPopUp--open {
  opacity: 1;
  visibility: inherit;
  bottom: 6rem;
  transition-property: opacity, visibility;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.SideBar__UserPopUp--close {
  opacity: 0;
  visibility: hidden;
  bottom: 6rem;
  transition-property: opacity, visibility;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.SideBar__UserListItem {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #8f8f8f;
  transition: color 0.25s ease-in-out;
}

.SideBar__UserListItem:hover {
  cursor: pointer;
  color: var(--color-primary);
  transition: color 0.25s ease-in-out;
}
