.Checkbox_favorite label{
  display: inline-block;
  height: 2.4rem;  
  width:2.4rem;
  background-image: url(/public/img/fav_off.svg);
  background-repeat: no-repeat;
  cursor:pointer;
}

.Checkbox_favorite input[name="check--favorite"]:checked + label{
  display: inline-block;
  height: 2.4rem;  
  width:2.4rem;
  background-image: url(/public/img/fav_on.svg);
  background-repeat: no-repeat;
  cursor:pointer;
}

.Checkbox_favorite input[name="check--favorite"]{
  display: none;
}