.Card {
    display:inline-block;
    position:relative;
    margin: 0 1rem 2rem 1rem;
    min-height:25.2rem;
    box-shadow: 0 0 0.8rem 0 rgba(var(--color-black-rgb), .07);
    font-size: 1.2rem;
    font-weight:500;
    text-align: center;
    width: 33rem;
}

.Card > * {
  padding: 1.2rem;
}

.Card__Header {
  display: flex;
  align-items: center;
}

.Card__Checkbox {
  margin-right: 1.2rem;
}

.Card__Checkbox_favorite {
  margin-left: auto;
}

.Card__Body {
  border-bottom: 1px solid var(--color-grey-1);
}

.Card__Info {
  display: flex;
  margin-left: 1.2rem;
}

.Card__RegisteredDateContainer {
  flex: 1;
  text-align: left;
}

.Card__RegisteredDateLabel {
  margin-right: 0.8rem;
  font-weight: bold;
}

.Card__StageContainer {
  flex: 1;
  text-align: left;
}

.Card__StageLabel {
  margin-right: 0.8rem;
  font-weight: bold;
}

.Card__ButtonContainer {
  display: flex;
}

.Card__Button {
  flex: 1;
}

.Card__Button:not(:last-child) {
  margin-right: 0.8rem;
}