.Button {
    display: block;
    width: 12.4rem;
    height: 3.6rem;
    line-height: 3.6rem;
    border: none;
    border-radius: 4px;
    color: #fff;
    transition: all .2s;
    text-align: center;
}

.Button--size--l {
    width: 26rem;
}
.Button--color--green {
    background-color: var(--color-primary);
}
.Button--color--greenGradient {
    background: linear-gradient(270deg, #2BECB2 11.7%, #18E4BB 36.67%, #13E2BD 50%);
}

.Button--color--grey {
    background-color: #e5e5e5;
}

.Button--color--blue {
    background-color: #53acff;
}