@use '../scss/main';

.Button {
    width: 12.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
    border-radius: 4px;
    display: block;
    text-align: center;
    font-size: 1.6rem;
    
}

.Button--size--l {
    width: 26rem;
}

.Button--color--green-gradient {
    //background-color: $color-green-gradient;
}

.Button--color--green {
    background-color: main.$color-green;

    /*background: linear-gradient(270deg, #2BECB2 11.7%, #18E4BB 36.67%, #13E2BD 50%);*/
    //background-color: $color-green;
}

.Button--color--grey {
    // background-color: $color-inactive;
    //background-color: $color-gray5;
}

.Button--color--blue {
    // background-color: $color-skyblue;
    //background-color: $color-skyblue;
}