/* DropDown.css*/

.DropDown {
    display: inline-block;
    border: 1px solid transparent;
    overflow: hidden;
}

.DropDown--open {
    border: 1px solid var(--color-black);
    border-radius: 4px;
}


.DropDown__List {
    list-style: none;
    
    background-color: var(--color-white);
    margin: 0;
    padding: 0;
    position: relative;
    animation-name: moveFromTop;
    animation-duration: .2s;
    animation-fill-mode: both;
    animation-direction: alternate;
    
}




.DropDown__Item {
    text-decoration: none;
    padding: 1rem 1.6rem;
    transition: color .2s;
}

.DropDown__Item--color--red {
    color: var(--color-tertiary);
}

.DropDown__Item:hover {
    color: var(--color-primary);
}