.Toggle {
    background-color: #35D48D;

    border: 0;
    border-radius: 2px;
    width: 8rem;
    height: 3rem;
    display: block;
    position: relative;

}

.Toggle__Label {
    height: 2.4rem;
    display: block;
    color: #fff;
    text-align: center;
    float: right;
}

.Toggle__Switch {
    height: 2.4rem;
    width: 2.4rem;
    padding: 0.3rem;

    position: absolute;
    display: block;
    
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    float: right;
    
}