/* Button.css */

.Button {
  height: 3.6rem;
  border-radius : 4px;
  border: 0;
  background-color : var(--color-primary);
  cursor: pointer;
  padding: 0 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  color: var(--color-white);
}

.Button--size--small {
  height: 2.4rem;
}

.Button--size--large {
  height: 4.8rem;
}

.Button--disabled {
  background-color: var(--color-grey);
}

.Button--negative {
  background-color: var(--color-tertiary);
}

.Button--line {
  background-color: rgba(0,0,0,0);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.Button--line.Button--disabled {
  background-color: rgba(0,0,0,0);
  border: 1px solid var(--color-white);
  color: var(--color-white);
}

.Button--line.Button--negative {
  background-color: rgba(0,0,0,0);
  border: 1px solid var(--color-tertiary);
  color: var(--color-tertiary);
}

.Button--round{
  border-radius: 100px;
}

.Button__Icon {
  margin-right: 4px;
}

.Button__RightIcon {
  margin-left: 4px;
}

.Button--inline {
  height: 2.4rem;
  background-color: var(--color-primary);
  color: white;
}

.Button--inline.Button--line {
  border: 1px solid var(--color-grey-dark-1);
  background-color: rgba(0,0,0,0);
  color: var(--color-grey-dark-1);
}

.Button--color--greenGradient{
  background: var(--color-primary-gradient);
}

.Button--color--grey{
  background: var(--color-grey);
}

.Button--color--green{
  background: var(--color-primary);
}

.Button--color--red{
  background: var(--color-tertiary);
}

.Button--color--blue{
  background: var(--color-secondary);
}

.Button:not(:last-child) {
  margin-right: 1.2rem;
}