/* Button.css */

.Button {
  height: 3.6rem;
  border-radius : 4px;
  background-color : var(--color-primary);
  display: inline-block;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 3.6rem;
  text-align: center;
  color: var(--color-white);
  padding: 0 1.2rem;
}


/*modifier*/
.Button--small {
  height: 2.4rem;
}

.Button--big {
  height: 4.8rem;
}

.Button--line {
  background-color: rgba(0,0,0,0);
}

.Button--disabled :not(.Button--line) {
  color: var(--color-white);
}


.Button--round{
  width: 14rem;
  height: 4rem;
  border-radius: 28px;
}

.Button--color--greenGradient{
  background: var(--color-primary-gradient);
}

.Button--color--grey{
  background: var(--color-grey);
}

.Button--color--green{
  background: var(--color-primary);
}

.Button--color--red{
  background: var(--color-tertiary);
}

.Button--color--blue{
  background: var(--color-secondary);
}

.Button:not(:last-child) {
  margin-bottom: 1.2rem;
}