

.Input {
  display: inline-block;
  position: relative;
  width:33rem;
  height: 5rem;
}

.Input__Form:focus {
  outline:0.15rem solid var(--color-primary);
}

.Input__Form{
  font-size: 1.4rem;
  border: 0.1rem solid var(--color-grey);
  border-radius:0.4rem;
  color:var(--color-black);
  caret-color:var(--color-primary);
  position:relative;
  width: 100%;
  float: left;
  padding-right: 1rem;

}

.Input__Form::placeholder{
  color:#bababa;
}



/*modifier*/
.Input__Form--backgroundColor-grey{
  background-color: #F0F0F0;
  border: 0.1rem solid transparent;
}

.Input--size--long{
  width:42rem;
  height: 6rem;
}



.Input--size--short{
  width:23rem;
  height: 5rem;
}

.Input--size--mini{
  width:20rem;
  height: 5rem;
}

.Input--error{
  border: 0.1rem solid var(--red);
}

.Input--error::placeholder{
  color:var(--red);
}

.Input--error:focus{
  outline-color: var(--red);
}


/* Input + Error && Button */

.InputError, .InputButton{
  position:relative;
}

.InputError__WarningIcon{
  position:absolute;
  right:2rem;
  top:2rem;
}

.Input__Button {
  position: absolute;
  right: 6px;
  vertical-align: text-bottom;
  margin : auto 0;
}