

.Input__Container {
  display: inline-block;
  position: relative;
}

.Input{
  display: inline-block;
  position:relative;
  height: 3.6rem;
  border: 1.5px solid rgba(0,0,0,0);
  background-color: var(--color-white);
  border-radius: 5px;
  font-size: 1.4rem;
  color:var(--color-black);
  caret-color:var(--color-primary);
  padding: 0 3.2rem 0 1.2rem;
}

.Input:focus {
  outline: 1px solid var(--color-primary);
  border: 1.5px solid var(--color-primary);
}


.Input::placeholder{
  color:#bababa;
}

.Input--size--large {
  height: 4.8rem;
}

.Input--color--grey {
  background-color: var(--color-grey-light-1);
}

.Input:invalid {
  border: 1.5px solid var(--color-tertiary);
  background-image: url('../../../public/img/icon_error.svg');
  background-repeat: no-repeat;
  background-position: 96% 50%;
  color: var(--color-tertiary);
  caret-color: var(--color-tertiary);
}

.Input:invalid:focus{
  outline: 1.5px solid var(--color-tertiary);
  border: 1.5px solid var(--color-tertiary);
}


.Input--button {
  padding-right: 7.2rem;
}

.Input__Button {
  position: absolute;
  right: 0.6rem;
  top: 50%;
  transform: translateY(-50%);
}

.Input:invalid + .Input__Button {
  background-color: var(--color-tertiary);
}

.Input--icon {
  background-image: var(--icon-src);
  background-repeat: no-repeat;
  background-position: 96% 50%;
}