

.Input__Container {
  display: inline-block;
  position: relative;
}

.Input{
  display: inline-block;
  position:relative;
  height: 3.6rem;
  outline: 0;
  border: 1.5px solid var(--color-grey);
  background-color: var(--color-white);
  border-radius: 4px;
  font-size: 1.4rem;
  color:var(--color-black);
  caret-color:var(--color-primary);
  padding: 0 3.2rem 0 1.2rem;
}

.Input:focus {
  /* outline: 1px solid var(--color-primary); */
  border: 1.5px solid var(--color-primary);
}


.Input::placeholder{
  color:#bababa;
}

.Input--size--large {
  height: 4.8rem;
}

.Input--error{
  border: 1.5px solid var(--color-tertiary);
  color: var(--color-tertiary);
}

.Input--error:focus{
  border: 1.5px solid var(--color-tertiary);
  color:var(--color-tertiary);
  caret-color: var(--color-tertiary);
}


/* Input + Error && Button */

.Input__IconError{
  display: none;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.Input--error + .Input__IconError {
  display: inline-block;
}

.Input__Button {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.Input--error + .Input__Button {
  background-color: var(--color-tertiary);
}