/* MoreMenu.css */

.MoreMenu {
}

.MoreMenu__List {
    border: 1px solid var(--color-black);
    border-radius: 4px;
    background-color: var(--color-white);
    list-style: none;
    text-align: left;
    position: absolute;
    width: fit-content
}

.MoreMenu__Item {
    padding: 1rem 1.4rem;
    transition: all .2s;
}

.MoreMenu__Item:hover {
    color: var(--color-primary);
}

.MoreMenu__Item--color--red {
    color: var(--color-tertiary);
}